/*FICHE CSS POUR LA PAGE A PROPOS*/



.apropos_text_1 {
	margin: 0 auto;
	width: 400px;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}



.apropos_text_2 {
	margin: 0 auto;
	width: 400px;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}




.apropos_text_2 p {

	font-size: 1em;
	font-weight: 400;
	font-family: 'Lato';
}



.apropos_text_1 p {
	
	font-size: 1em;
	font-weight: 400;
	font-family: 'Lato';
}


.apropos_text_1 h2 {
	
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Roboto Condensed';
}


.apropos_text_2 h2 {
	
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Roboto Condensed';
}